<div class="uk-text-center">
  <h1 class="uk-heading-medium" style="color: var(--color-secundario);">
    ¡Bienvenido, {{ userName }}!
  </h1>
  <p class="uk-text-lead">Selecciona una opción del menú de navegación para comenzar.</p>

  <div class="uk-margin-large-top">
    <button class="uk-button uk-button-primary uk-button-large" routerLink="/seleccionar-vuelo">
      <span uk-icon="icon: plus-circle; ratio: 1.5" class="uk-margin-small-right"></span>
      Realizar una nueva reserva
    </button>
  </div>
</div>
